absl-py==1.3.0
addressparser==0.2.4
aiofiles==23.1.0
aiohttp==3.8.3
aiosignal==1.2.0
alabaster 
altair==4.2.2
amqp==5.1.1
anaconda-client==1.11.0
anaconda-project 
anyio 
appdirs==1.4.4
appnope 
appscript 
argon2-cffi 
argon2-cffi-bindings 
asgiref==3.5.2
astroid 
astropy 
asttokens 
async-timeout==4.0.2
attrs 
auto-labeling-pipeline==0.1.21
Automat 
Babel 
backcall 
backports.functools-lru-cache 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
billiard==3.6.4.0
bitarray 
bkcharts==0.2
bleach 
blinker==1.6.2
blis==0.7.9
bokeh 
boto3 
botocore 
Bottleneck 
brotlipy==0.7.0
cachetools==5.2.0
catalogue==2.0.8
celery==5.2.7
certifi 
cffi 
chardet 
charset-normalizer 
click 
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cloudpickle 
clyent==1.2.2
colorama 
colorcet 
conda==23.1.0
conda-build==3.21.9
conda-content-trust 
conda-pack 
conda-package-handling 
conda-token 
conda-verify==3.4.2
confection==0.0.4
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography 
cssselect==1.1.0
cycler 
cymem==2.0.7
Cython 
cytoolz==0.11.0
dask 
dataclasses-json==0.5.8
datasets==2.6.1
datashader 
datashape==0.5.4
debugpy 
decorator 
defusedxml 
dill==0.3.5.1
distributed 
dj-database-url==0.5.0
dj-rest-auth==2.2.5
Django==4.1.3
django-celery-results==2.2.0
django-cleanup==6.0.0
django-cors-headers==3.13.0
django-drf-filepond==0.4.1
django-filter==21.1
django-health-check==3.17.0
django-polymorphic==3.1.0
django-rest-polymorphic==0.1.10
django-storages==1.13.1
djangorestframework==3.14.0
djangorestframework-xml==2.0.0
dnspython==2.3.0
doccano==1.8.0
docutils 
dominate==2.8.0
drf-yasg==1.21.4
entrypoints 
environs==9.5.0
et-xmlfile==1.1.0
executing 
fastapi==0.95.0
fastjsonschema 
ffmpy==0.3.0
filelock 
filetype==1.2.0
Flask==2.2.5
Flask-Cors==3.0.10
flowtorch==0.8
fonttools==4.25.0
frozenlist==1.3.1
fsspec 
furl==2.1.3
future 
gensim 
gitdb==4.0.10
GitPython==3.1.31
glob2 
gmpy2 
google-api-core==2.10.2
google-auth==2.13.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.2
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-resumable-media==2.4.0
googleapis-common-protos==1.56.4
goto-statement==1.2
gradio==3.24.1
gradio_client==0.0.7
greenlet 
grpcio==1.50.0
gunicorn==20.1.0
h11==0.14.0
h5py 
HeapDict 
holoviews 
httpcore==0.16.3
httpx==0.23.3
huggingface-hub==0.13.3
hvplot 
hyperlink 
idna 
imagecodecs 
imageio 
imagesize 
importlib-metadata 
incremental 
inflection==0.5.1
iniconfig 
intake 
ipykernel 
ipython 
ipython-genutils 
ipywidgets 
isort 
itemadapter 
itemloaders 
itsdangerous 
itypes==1.2.0
jdcal 
jedi 
jieba==0.42.1
Jinja2==3.1.2
jmespath 
joblib 
json5 
jsonschema 
jupyter==1.0.0
jupyter-console 
jupyter-server 
jupyter_client 
jupyter_core 
jupyterlab 
jupyterlab-pygments 
jupyterlab-server 
jupyterlab-widgets 
kiwisolver 
kombu==5.2.4
langchain==0.0.198
langchainplus-sdk==0.0.9
langcodes==3.3.0
latex2mathml==3.75.2
lazy-object-proxy 
libarchive-c 
linkify-it-py==2.0.0
llvmlite==0.39.1
lml==0.1.0
locket 
loguru==0.6.0
lxml 
lz4 
Markdown 
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.18.0
marshmallow-enum==1.5.1
matplotlib 
matplotlib-inline 
mccabe 
mdit-py-plugins==0.3.3
mdtex2html==1.2.0
mdurl==0.1.2
mistune 
mock 
mpmath==1.2.1
msgpack 
multidict==6.0.2
multipledispatch 
multiprocess==0.70.13
munkres==1.1.4
murmurhash==1.0.9
mypy-extensions==1.0.0
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nflows==0.14
nltk 
nose 
notebook 
numba 
numexpr==2.8.4
numpy 
numpydoc 
oauthlib==3.2.2
olefile 
openai==0.27.3
openapi-schema-pydantic==1.2.4
openpyxl==3.0.10
orderedmultidict==1.0.1
orjson==3.8.9
packaging 
pandas==1.4.4
pandocfilters 
Pandora-ChatGPT==1.3.0
panel 
param 
parsel 
parso 
partd 
pathy==0.10.1
patsy==0.5.2
pdfminer.six==20221105
pdfplumber==0.9.0
pep8==1.7.1
pexpect 
pickleshare 
Pillow==9.2.0
pkginfo 
platformdirs 
plotly 
pluggy 
ply==3.11
portalocker 
preshed==3.0.8
prettytable==3.6.0
prometheus-client 
prompt-toolkit 
Protego 
protobuf==4.23.2
psutil 
ptyprocess 
pure-eval 
py 
pyarrow==9.0.0
pyasn1 
pyasn1-modules==0.2.8
pycodestyle 
pycosat==0.6.3
pycparser 
pyct 
pycurl==7.45.1
pydantic==1.10.2
pydeck==0.8.1b0
PyDispatcher==2.0.5
pydub==0.25.1
pyecharts==2.0.1
pyerfa 
pyexcel==0.7.0
pyexcel-io==0.6.6
pyexcel-xlsx==0.6.0
pyflakes 
Pygments==2.15.1
PyHamcrest 
PyJWT==2.6.0
pylint 
Pympler==1.0.1
pyodbc 
pyOpenSSL 
pyparsing 
pyperclip==1.8.2
pyrsistent 
PySocks 
pytest==7.1.2
python-dateutil 
python-dotenv==0.21.0
python-multipart==0.0.6
python-snappy 
pytz 
pytz-deprecation-shim==0.1.0.post0
pyviz-comms 
PyWavelets 
PyYAML==6.0
pyzmq 
qtconsole==5.3.1
QtPy==2.2.0
queuelib==1.5.0
regex 
requests==2.28.2
requests-file 
requests-oauthlib==1.3.1
responses==0.18.0
rfc3986==1.5.0
rich==13.3.5
rope 
rsa==4.9
ruamel-yaml-conda 
ruamel.yaml 
ruamel.yaml.clib==0.2.7
s3transfer 
scikit-image 
scikit-learn 
scipy==1.9.1
Scrapy 
seaborn 
semantic-version==2.10.0
Send2Trash 
seqeval==1.2.2
service-identity 
setproctitle==1.3.2
shortuuid==1.0.9
simplejson==3.18.3
sip 
six 
smart-open 
smmap==5.0.0
sniffio 
snowballstemmer 
socksio==1.0.0
sortedcollections 
sortedcontainers 
soupsieve 
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
SQLAlchemy 
sqlparse==0.4.3
srsly==2.4.5
stack-data 
starlette==0.26.1
statsmodels 
streamlit==1.23.1
sympy 
tables 
tabulate 
TBB==0.2
tblib 
tenacity==8.2.2
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado 
testpath 
texttable==1.6.4
thinc==8.1.7
threadpoolctl 
tifffile 
tldextract 
tokenizers==0.13.2
toml 
tomli 
tomlkit 
toolz 
torch==1.13.1
torchdata==0.5.1
tornado 
tqdm 
traitlets 
transformers==4.27.4
Twisted 
typer==0.7.0
typing-inspect==0.9.0
typing_extensions 
tzdata==2023.3
tzlocal==4.3
uc-micro-py==1.0.1
uritemplate==4.1.1
urllib3 
uvicorn==0.21.1
validators==0.20.0
vine==5.0.0
w3lib 
waitress==2.1.2
Wand==0.6.11
wasabi==1.1.1
wcwidth 
webencodings==0.5.1
websocket-client 
websockets==11.0
Werkzeug==2.2.3
whitenoise==6.2.0
widgetsnbextension 
wrapt 
xarray 
xgboost==1.7.6
xlrd 
XlsxWriter 
xlwings 
xxhash==3.1.0
yarl==1.8.1
zict==2.1.0
zipp 
zope.interface 
zuko==0.1.4
